.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body, html {
  margin: 0;
  padding: 0;
}

header .con{
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px,20px;
  
}
/* In a separate CSS file or using Chakra UI's css prop */
.custom-drawer {
  width: 30%;
}

.content
{
  padding-Top: 64px;
}
.home{
  background-color:#EDF0F5;
  font-family: Raleway;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: whitesmoke;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
